<!DOCTYPE html>
<html>
<head>        
</head>
<body>
    <center>
        <table border="1" width="700">
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">Academic Qualifications</td> 
            <td width="150" bgcolor="lightblue">Year Award</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width="250">Bachelor Of Engineering</td>
            <td align="center" width="300">The University of Cambridge</td>
            <td width="150">1999</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">First Class Honours</td> 
            </tr>
            <tr>
            <td rowspan="2" align="center" width="250">Master Of Computer Science</td>
            <td align="center" width="300">The University of Tokyo</td>
            <td width="150">2006</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">The Best Student Of The Year</td> 
            </tr>
            <tr>
            <td rowspan="2" align="center" width="250">Doctor Of Medicine</td>
            <td align="center" width="300">The University of Singapore</td>
            <td width="150">2015</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">The Best Thesis Award</td> 
            </tr>
            
            
            </table>
    </center>
