<!DOCTYPE html>
<html>
<head>        
</head>
<body>
    <center>
        <table border="1" width="700">
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">Academic Qualifications</td> 
            <td width="150" bgcolor="lightblue">Year Award</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width="250">Bachelor Of Engineering</td>
            <td align="center" width="300">The University of South China Agricultural</td>
            <td width="150">2015</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">First Class Honours</td> 
            </tr>
            <tr>
            <td rowspan="2" align="center" width="250">Master Of Education</td>
            <td align="center" width="300">The University of Hong Kong</td>
            <td width="150">2024</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightblue">Current student</td> 
            </tr>
            
            
            
            </table>
    </center>
